.NavBar {
  margin: 0 0 0 0;
  border-bottom: 1px solid red;
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  background: darkgray;
  z-index: 99;
}

button {
  margin: 0 0 0 0;
  height: 100%;
  display: inline-block;
  border-right: 1px solid red;
  background: whitesmoke;
  text-align: center;
}
